extends layout

block content
  .jumbotron
    .container
      .row
        .col-md-7
          h1 Computer No Working?
          p Movet laoreet placerat mei ne, vis eros graece ponderum te, eam ei posse deserunt prodesset. Eam nonumes assentior ei. Te vero tota error mea, ne sea saperet reprimique. Ex vel amet justo sapientem, rebum ullum zril ius ei, delectus intellegam delicatissimi duo at. Qui ut causae legimus.
          p
            a.btn.btn-primary.btn-lg(href='#') Read More...
        .col-md-5
          img(src='images/mouse.png', width="400")
  .row
    .col-md-4
      .panel-default
        h2 Hardware Problems
        p Movet laoreet placerat mei ne, vis eros graece ponderum te, eam ei posse deserunt prodesset. Eam nonumes assentior ei. Te vero tota error mea, ne sea saperet reprimique. Ex vel amet justo sapientem, rebum ullum zril ius ei, delectus intellegam delicatissimi duo at. Qui ut causae legimus, in quo viris nostrum scribentur.
    .col-md-4
      .well
        h2 Software Problems
        p Movet laoreet placerat mei ne, vis eros graece ponderum te, eam ei posse deserunt prodesset. Eam nonumes assentior ei. Te vero tota error mea, ne sea saperet reprimique. Ex vel amet justo sapientem, rebum ullum zril ius ei, delectus intellegam delicatissimi duo at. Qui ut causae legimus, in quo viris nostrum scribentur.
    .col-md-4
      .well
        h2 Pc Tune Up
        p Movet laoreet placerat mei ne, vis eros graece ponderum te, eam ei posse deserunt prodesset. Eam nonumes assentior ei. Te vero tota error mea, ne sea saperet reprimique. Ex vel amet justo sapientem, rebum ullum zril ius ei, delectus intellegam delicatissimi duo at. Qui ut causae legimus, in quo viris nostrum scribentur.

  hr
  footer
    p &copy; 2018 PCRepair
